<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Pokédex
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Pokédex</ion-title>
    </ion-toolbar>
  </ion-header>

  <div class="container">
    <ion-spinner *ngIf="loading" name="crescent"></ion-spinner>
    
    <ion-text color="danger" *ngIf="error">
      <p>{{ error }}</p>
    </ion-text>

    <ion-grid>
      <ion-row>
        <ion-col size="6" size-md="4" size-lg="3" *ngFor="let pokemon of pokemons">
          <ion-card [routerLink]="['/pokemon', getPokemonId(pokemon.url)]">
            <img [src]="'https://raw.githubusercontent.com/PokeAPI/sprites/master/sprites/pokemon/' + getPokemonId(pokemon.url) + '.png'"
                 [alt]="pokemon.name">
            <ion-card-header>
              <ion-card-subtitle>#{{ getPokemonId(pokemon.url) }}</ion-card-subtitle>
              <ion-card-title>{{ pokemon.name | titlecase }}</ion-card-title>
            </ion-card-header>
          </ion-card>
        </ion-col>
      </ion-row>
    </ion-grid>
  </div>
</ion-content> 